.users {
    width: 100vw;
    height: calc(100vh - 50px);
    margin-top: 50px;
    background: #49002b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.users-table-wrapper {
    height: calc(95vh - 50px);
    width: 90vw;
    background: #202020;
    border-radius: 10px;
    padding: 10px;
    overflow-y: scroll;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.user-icons-wrapper {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.user-settings {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.add-user-modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-user-modal-box {
    width: 95vw;
    background: rgb(243, 243, 243);
    border-radius: 10px;
    padding: 30px;
}

.username-input {
    width: 100%;
}

.reset-user-modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.reset-user-modal-box {
    width: 95vw;
    background: rgb(243, 243, 243);
    border-radius: 10px;
    padding: 30px;
}

.delete-user-modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-user-modal-box {
    width: 95vw;
    background: rgb(243, 243, 243);
    border-radius: 10px;
    padding: 30px;
}

.modal-button-wrapper {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}