.header {
    position: absolute;
    top: 0;
    height: 50px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background: rgb(32, 32, 32);
    padding: 5px;
}

.drawer {
    height: 100vh;
    padding: 20px;
    background:rgb(56, 56, 56);
    display: flex;
    flex-direction: column;
}