.moneybar-wrapper {
    padding: 2%;
}

.moneybar {
    background: rgb(39, 39, 39);
    width: 94%;
    margin-left: 3%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-radius: 5px;
    color: rgb(227, 227, 227);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.moneybar-pg-wrapper {
    background: rgb(39, 39, 39);
    padding: 22px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}